ApproverService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ApproverDefinitions" targetNamespace="urn:Approver" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:app="urn:Approver" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:Approver"
            xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="propType">
        <sequence>
          <element name="name" type="xsd:string"/>
          <element name="address" type="xsd:string"/>
          <element name="amount" type="xsd:decimal"/>
        </sequence>
      </complexType>
      <element name="propElem" type="app:propType"/>
      <element name="rateElem" type="xsd:decimal"/>
      <element name="errorElem" type="xsd:string"/>
    </schema>
  </types>
  <message name="rateMessage">
    <part name="rate" element="app:rateElem">
    </part>
  </message>
  <message name="proposalMessage">
    <part name="data" element="app:propElem">
    </part>
  </message>
  <message name="errorMessage">
    <part name="errorPart" element="app:errorElem"/>
  </message>
  <portType name="loanPort">
    <operation name="approveOperation">
      <input message="app:proposalMessage">
    </input>
      <output message="app:rateMessage">
    </output>
      <fault name="refusal" message="app:errorMessage"/>
    </operation>
  </portType>
  <binding name="loanBinding" type="app:loanPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="approveOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Approver"/>
      </input>
      <output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Approver"/>
      </output>
      <fault name="refusal">
        <soap:fault use="literal" name="refusal"/>
      </fault>
    </operation>
  </binding>
  <service name="ApproverService">
    <port name="ApproverLoan" binding="app:loanBinding">
      <soap:address location="http://127.0.0.1:8080/axis2_war/services/ApproverService"/>
    </port>
  </service>
</definitions>
